<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDctR7hvqn-R4XfDxBCg6AkAfT_Aqhle4Q</string>
	<key>GCM_SENDER_ID</key>
	<string>702285814048</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zane.viewcrew</string>
	<key>PROJECT_ID</key>
	<string>viewcrew-bc42a</string>
	<key>STORAGE_BUCKET</key>
	<string>viewcrew-bc42a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:702285814048:ios:890f7a81daea3f50eedf45</string>
</dict>
</plist>