<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DATA_MOVER_API_KEY</key>
	<string>97813104-213c-4bcc-abd0-05e7f42220ca</string>
	<key>NSUserNotificationsUsageDescription</key>
	<string>ViewCrew needs access to notifications to show you what your friends are watching</string>
	<key>PRELUDE_AUTH_UUID</key>
	<string>3c90c3cc-0d44-4b50-8888-8dd25736052a</string>
	<key>PRELUDE_CUSTOMER_UUID</key>
	<string>8178c751-c838-42fd-b2c9-a86671fefe27</string>
	<key>PRELUDE_X_API</key>
	<string>Ta2lRo5C0K2JABXpMWJRi80LSOpGZcnW5QbxqJT2</string>
	<key>UIAppFonts</key>
	<array>
		<string>Bebas_Neue.ttf</string>
		<string>Roboto-Medium.ttf</string>
		<string>RobotoCondensed-Bold</string>
		<string>RobotoCondensed-VariableFont_wght.ttf</string>
		<string>RobotoCondensed-Medium</string>
		<string>Roboto-Bold.ttf</string>
		<string>RobotoCondensed-Thin</string>
		<string>Roboto-Light.ttf</string>
		<string>Roboto-Regular.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
