<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSContactsUsageDescription</key>
	<string>ViewCrew needs access to contacts to help you find friends on the app</string>
	<key>NSUserNotificationsUsageDescription</key>
	<string>ViewCrew needs access to notifications to show you what your friends are watching</string>
	<key>UIAppFonts</key>
	<array>
		<string>Roboto-Medium.ttf</string>
		<string>RobotoCondensed-Bold</string>
		<string>RobotoCondensed-VariableFont_wght.ttf</string>
		<string>RobotoCondensed-Medium</string>
		<string>Roboto-Bold.ttf</string>
		<string>RobotoCondensed-Thin</string>
		<string>Roboto-Light.ttf</string>
		<string>Roboto-Regular.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
